@{
    Layout = "default";
}
<h1>@Title</h1>
<div class="postbody">
    @RenderBody()
</div>
<span class='st_sharethis' displaytext='ShareThis'></span>
<span class='st_facebook' displaytext='Facebook'></span>
<span class='st_twitter' displaytext='Tweet'></span>
<span class='st_linkedin' displaytext='LinkedIn'></span>
<span class='st_googleplus' displaytext='Google +'></span>
<span class='st_pinterest' displaytext='Pinterest'></span>
<span class='st_email' displaytext='Email'></span>
